root = true

[*]
end_of_line = crlf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{cs,csx}]
indent_style = space
indent_size = 4
dotnet_sort_system_directives_first = true
csharp_new_line_before_open_brace = all
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

[*.{csproj,props,targets,slnx}]
indent_style = space
indent_size = 2

[*.{json,jsonc}]
indent_style = space
indent_size = 2
